# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/
/build

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/tests
/test-results
/playwright-report
playwright.config.ts
coverage

# claude / AI tooling
.claude
CLAUDE.md
AGENTS.md

# mcp config
.mcp.json

# misc
.DS_Store
*.pem
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
